<ion-view hide-nav-bar="true" class="main">
    <ion-content scroll="false">

          <div class="container">
      			<div id="bl-main" class="bl-main">
      				<section class="animated jello" on-tap="main.sectionTap('seeColors')">
      					<div class="bl-box animated rubberBand">
      						<h2 class="bl-icon bl-icon-about">See colors</h2>
      					</div>
      				</section>

      				<section id="bl-work-section"  class="animated jello" on-tap="main.sectionTap('meaning')">
      					<div class="bl-box animated rubberBand">
      						<h2 class="bl-icon bl-icon-works">Meaning</h2>
      					</div>
      				</section>

      				<section  class="animated jello" on-tap="main.sectionTap('play')">
      					<div class="bl-box animated rubberBand">
      						<h2 class="bl-icon bl-icon-blog">Play</h2>
      					</div>
      				</section>

      				<section  class="animated jello" on-tap="main.sectionTap('learn')">
      					<div class="bl-box animated rubberBand">
      						<h2 class="bl-icon bl-icon-contact">Learn</h2>
      					</div>
      				</section>
      				<!-- Panel items for the works -->

      			</div>
      		</div><!-- /container -->
          <script src="js/boxlayout.js"></script>

          <script>
            $(function() {
              Boxlayout.init();
            });
          </script>
          <script src="js/classie.js"></script>


    </ion-content>
</ion-view>
